/* Challange 23 */
.challange-23 {
	width: 200px;
	height: 100px;
	animation: challange-20-move 1s infinite;
}

/* Challange 21 */
.challange-21 {
	margin: 10px;
	background: black;
	display: flex;
	flex-wrap: wrap;
	border: 10px solid white;
	flex-direction: row;
	justify-content: space-around;
	padding: 10%;
}
.cube {
	width: 100px;
	height: 100px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1.5s;
	margin: 50px auto;
	animation: mymov 5s infinite;
	transform: rotate3d(0, -1, 0, 40deg);
}
.faces {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: cyan;
	text-align: center;
	font-size: 100px;
	border-radius: 20px;
}
.f1 {
	transform: translateZ(50px);
}
.f2 {
	transform: rotateY(180deg) translateZ(50px);
}
.f3 {
	transform: rotateY(90deg) translateZ(50px);
	opacity: 0.3;
}
.f4 {
	transform: rotateY(-90deg) translateZ(50px);
	opacity: 0.3;
}
.f5 {
	transform: rotateX(90deg) translateZ(50px);
	opacity: 0.3;
}
.f6 {
	transform: rotateX(-90deg) translateZ(50px);
	opacity: 0.3;
}
@keyframes mymov {
	from {
		transform: rotate3d(0, 0, 0, 30deg);
	}
	to {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

/*  SECOND CUBE*/
#cube {
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transition: transform 1.5s;
	margin: 50px auto;
	animation: mymove 5s infinite;
}
#cube:hover {
	animation: photo-bounce 5s infinite;
}
.face {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 60px;
	color: #fff;
}
.front {
	transform: translateZ(50px);
	opacity: 0.5;
}
.back {
	transform: rotateY(180deg) translateZ(50px);
}
.right {
	transform: rotateY(90deg) translateZ(50px);
}
.left {
	transform: rotateY(-90deg) translateZ(50px);
}
.top {
	transform: rotateX(90deg) translateZ(50px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(50px);
}
@keyframes mymove {
	from {
		transform: rotate3d(0, 0, 0, -10deg);
	}
	to {
		transform: rotate3d(0, 1, 1, -720deg);
	}
}
@keyframes photo-bounce {
	from {
		transform: rotate3d(1, 1, 1, 750deg);
	}
	to {
		transform: rotate3d(1, 1, 1, 30deg);
	}
}

/* Challange 20 */
.challange-20 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: #2196f3;
	height: 150px;
	width: 100%;
	border-radius: 15px;
	border: 3px solid #8a897c;
	position: relative;
}
.challange-20 div p {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	width: 100px;
	position: absolute;
	margin-top: 50px;
	margin-left: -30px;
	cursor: pointer;
}
.challange-20 div:nth-child(1) {
	background: #edc4b3;
	border-radius: 14px 0 0 14px;
}
.challange-20 div:nth-child(2) {
	background: #e6b8a2;
}
.challange-20 div:nth-child(3) {
	background: #deab90;
}
.challange-20 div:nth-child(4) {
	background: #d69f7e;
}
.challange-20 div:nth-child(5) {
	background: #9d6b53;
	border-radius: 0 14px 14px 0;
}

/* Challange 19 */
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.challange-19 {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 100px inset, 0 0 5px grey;
	transition: box-shadow 1s;
	float: left;
	margin: 10px;
	background-image: url(http://vignette4.wikia.nocookie.net/pokemon/images/2/21/001Bulbasaur.png/revision/latest/scale-to-width-down/200?cb=20140328190757);
	color: rgba(71, 121, 94, 0.9);
}
.challange-19::after {
	width: 80%;
	height: 80%;
	display: block;
	white-space: pre;
	font: 15pt "sigmar one";
	color: white;
	border: 2px solid;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 1s 0.5s;
	content: "Bulbasaur";
}
.challange-19:hover {
	box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
	transition: box-shadow 1s;
}
.challange-19:hover::after {
	opacity: 0;
	transition: opacity 0.5s;
}

/* Challange 18 */
.challange-18 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	position: relative;
}
.challange-18:hover {
	animation: challange-18-move 5s;
}
@keyframes challange-18-move {
	from {
		left: 0px;
		background-color: black;
		border-radius: 50%;
	}
	to {
		left: 10px;
		background-color: cyan;
		border-radius: 10%;
	}
}

/* Challange 17 */
.challange-17 {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1d1e2c;
}
.challange-17-circle {
	height: 70px;
	width: 70px;
	border: 6px solid #3fc1c936;
	display: inline-block;
	border-radius: 50%;
	border-top-color: #fc5185;
	border-bottom-color: #fc5185;
	animation: 1.5s challange-17-move1 infinite;
}
.challange-17-dots {
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-top: 32px;
}
.challange-17-dots div {
	height: 24px;
	width: 24px;
	background: #fc5185;
	border-radius: 50%;
}
.challange-17-dot1 {
	animation: 1.5s challange-17-move2 infinite;
	animation-delay: 0.1s;
}
.challange-17-dot2 {
	animation: 1.5s challange-17-move2 infinite;
	animation-delay: 0.2s;
}
.challange-17-dot3 {
	animation: 1.5s challange-17-move2 infinite;
	animation-delay: 0.3s;
}
@keyframes challange-17-move1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes challange-17-move2 {
	0%,
	80%,
	100% {
		transform: scale(0);
		background: #3fc1c9;
	}
	40% {
		background: #fc5185;
		transform: scale(1);
	}
}

/* Challange 16 */
.challange-16 {
	width: 100px;
	height: 100px;
	position: relative;
}
.challange-16::before,
.challange-16::after {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	mix-blend-mode: multiply;
	animation: challange-16-move 1s infinite;
}
.challange-16::before {
	background-color: #fc3f9e;
}
.challange-16::after {
	background-color: cyan;
	animation-delay: 0.5s;
}
@keyframes challange-16-move {
	0%,
	100% {
		left: 100px;
	}
	25% {
		transform: scale(0.3);
	}
	50% {
		left: 0;
	}
	100% {
		transform: scale(1);
	}
}

/* Challange 15 */
.challange-15 {
	display: grid;
	grid-template-row: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	color: white;
}
.challange-15 div {
	width: 10px;
	height: 10px;
	background-color: black;
}

/* Challange 14 */
.challange-14 {
	width: 150px;
	height: 200px;
	background-color: #333;
	border-radius: 10px;
	outline: 1px solid rgba(255, 255, 255, 0.5);
	outline-offset: -8px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
}
.challange-14-title {
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: 20px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.challange-14 img {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	width: 290px;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
	transition: transform 0.75s;
}
.challange-14 img:hover {
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
}

/* Challange 13 */
.challange-13 {
	text-decoration: none;
	text-transform: 2px;
	color: cyan;
	outline: 2px solid orange;
	padding: 30px 60px;
	position: relative;
	overflow: hidden;
	transition: color 1s;
	cursor: pointer;
}
.challange-13:hover {
	content: "";
	top: 0;
	width: 0;
	height: 100%;
	background-color: orange;
	transform: skewX(35deg);
	transition: width 1s;
}

/* Challange 12 */
.challange-12 {
	display: flex;
	align-item: center;
	gap: 3px;
}
.challange-12 span {
	display: inline-block;
	width: 3px;
	height: 20px;
	border-radius: 10px;
	animation: challange-12-move 1s linear infinite;
}
.challange-12 span:nth-child(2) {
	height: 35px;
	margin: 0 5px;
	animation-delay: 0.25s;
}
.challange-12 span:nth-child(3) {
	animation-delay: 0.5s;
}
@keyframes challange-12-move {
	20% {
		background-color: cyan;
		trasform: scaleY(1.5);
	}
	40% {
		transform: scaleY(2);
	}
}
/* .challange-12: hover{
	animation: pause;
	span:nth-child(2):hover{
	transform: rotate(90deg);
	animation: pause;
	background-color: cyan;
}
		span:nth-child(3):hover{
	transform: rotate(90deg);
	animation: pause;
	background-color: cyan;
}
} */

/* Challange 11 */
.challange-11 {
	color: red;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	padding: 20px 50px;
	border: 3px solid #3c67e3;
	border-radius: 10px;
}
.challange-11:hover {
	animation: challange-11-move 1s ease-in-out infinite;
}
@keyframes challange-11-move {
	0% {
		box-shadow: 0 0 20px #5ddcff;
	}
	50% {
		box-shadow: 0 0 40px #4e00c2;
	}
	100% {
		box-shadow: 0 0 20px #5ddcff;
	}
}

/* Challange 10 */
.challange-10 {
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px;
	border: 3px solid #1fe8b6;
	position: relative;
	font-weight: 700;
}
.challange-10::after {
	content: "";
	position: absolute;
	width: 80%;
	height: 100%;
	border: inherit;
	transition: all 0.5s;
	border: 3px solid #1fe8b6;
	bottom: -15px;
	right: -15px;
	border-width: 0 3px 3px 0;
}
.challange-10::before {
	content: "";
	position: absolute;
	width: 80%;
	height: 100%;
	border: inherit;
	border: 3px solid #1fe8b6;
	transition: all 0.5s;
	top: -15px;
	left: -15px;
	border-width: 3px 0 0 3px;
}
.challange-10:hover::before,
.challange-10:hover::after {
	height: 250%;
	width: 200%;
}

/* Challange 9 */
.challange-9 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.challange-9 nav {
	background-color: #000;
	display: block;
	padding: 1em 0;
	text-align: center;
	width: 150px;
}
.challange-9 nav a {
	color: #fff;
	margin: 0 1em;
	text-decoration: none;
}
.challange-9-box {
	background-color: #eaeaea;
	display: block;
	height: 200px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	text-align: center;
	width: 150px;
}
.challange-9 section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Challange 8 */
.challange-8 {
	display: flex;
	height: 200px;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: scroll;
	/* 	  -ms-overflow-style: none;
  scrollbar-width: none; 
	-webkit-scrollbar: none; */
}
.challange-8::-webkit-scrollbar {
	display: none;
}
.challange-8 img {
	display: flex;
	width: 200px;
	flex-direction: column;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Challange 7 */
.challange-7 {
	background-color: black;
	width: 300px;
	height: 100px;
	display: grid;
	place-items: center;
	position: relative;
	font-family: "Quicksand", sans-serif;
}
.challange-7-text {
	font-size: 50px;
	color: white;
	position: absolute;
}
.challange-7-wave {
	font-size: 50px;
	color: cyan;
	animation: challange-7-move 3s infinite;
	position: absolute;
}
@keyframes challange-7-move {
	0% {
		clip-path: polygon(
			0 16%,
			24% 49%,
			50% 17%,
			74% 48%,
			100% 15%,
			100% 100%,
			0 100%
		);
	}
	50% {
		clip-path: polygon(
			0 49%,
			26% 19%,
			49% 48%,
			73% 18%,
			100% 48%,
			100% 100%,
			0 100%
		);
	}
	100% {
		clip-path: polygon(
			0 16%,
			24% 49%,
			50% 17%,
			74% 48%,
			100% 15%,
			100% 100%,
			0 100%
		);
	}
}

/* Challange 6 */
.challange-6 {
	top: calc(50%-50px);
	left: calc(50%-50px);
	width: 100px;
	height: 100px;
	transform: rotate(-45deg);
}
.challange-6 li {
	position: relative;
	width: 50px;
	height: 50px;
	list-style: number;
	float: left;
}
.challange-6 li::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: 100% 100%;
	animation: challange-6-move 2s ease-in-out infinite;
}
.challange-6 li:nth-child(1) {
	transform: rotate(0deg);
}
.challange-6 li:nth-child(1)::before {
	animation-delay: 0s;
	background: #3fc1c9;
}
.challange-6 li:nth-child(2) {
	transform: rotate(90deg);
}
.challange-6 li:nth-child(2)::before {
	animation-delay: 0.5s;
	background: #fc5185;
}
.challange-6 li:nth-child(3) {
	transform: rotate(270deg);
}
.challange-6 li:nth-child(3)::before {
	animation-delay: 1.2s;
	background: red;
}
.challange-6 li:nth-child(4) {
	transform: rotate(180deg);
}
.challange-6 li:nth-child(4)::before {
	animation-delay: 0.8s;
	background: green;
}
@keyframes challange-6-move {
	0% {
		transform: perspective(200px) rotateX(0deg);
		opacity: 0;
	}
	10% {
		transform: perspective(200px) rotateX(-100deg);
		opacity: 0;
	}
	25% {
		transform: perspective(200px) rotateX(0deg);
		opacity: 1;
	}
	75% {
		transform: perspective(200px) rotateY(0deg);
		opacity: 0;
	}
	90% {
		transform: perspective(200px) rotateY(100deg);
		opacity: 1;
	}
	100% {
		transform: perspective(200px) rotateY(0deg);
		opacity: 0;
	}
}

/* Challange 5 */
.challange-5 {
	border-style: solid;
	border-top-color: coral;
	border-bottom-color: black;
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin-5 1s infinite;
}
@keyframes spin-5 {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
		border-top-color: #fc4182;
		border-bottom-color: #80ffdb;
		border-right-color: transparent;
		border-left-color: transparent;
	}
	100% {
		transform: rotate(360deg);
	}
	/*     from {
    transform: rotate(0deg);
      }
    
      to {
    transform: rotate(360deg);
      } */
}

/* Challange 4 */
.challange-4 {
}
.challange-4-card {
	width: 150px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 8px;
	position: relative;
}
.challange-4-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	animation: challange-4-animation 3s ease-in infinite;
	top: 60px;
}
@keyframes challange-4-animation {
	0% {
		background: radial-gradient(cyan, blue);
		left: 0px;
		top: 0px;
	}
	50% {
		background: radial-gradient(cyan, blue);
		left: 100px;
		top: 100px;
	}
	100% {
		background: radial-gradient(#b0e633, #53ef7d);
		left: 0px;
		top: 0px;
	}
}

/* Challange 3 */
.challange-3 {
	width: 100%;
	height: 100vh;
	position: relative;
}
.challange-3-image {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.challange-3-title {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 100px;
	color: #fff;
	mix-blend-mode: multiply;
}

/* Challange 2 */
.challange-2 {
	display: flex;
	flex-wrap: wrap;
	/*   width="100%"; */
}

.challange-2-image {
	flex: 1 1 20px;
	aspect-ratio: 1 / 1;
	border-radius: 3px solid black;
}

.challange-2-content {
	margin-left: 40px;
	flex: 1 1 20px;
	font-size: 20px;
	color: red;
}

/* Challange 1 */
.challange-1 {
	font-weight: 500;
	font-size: 20px;
	color: #1fe8b6;
	padding: 3px;
	background-image: linear-gradient(
		transparent 0%,
		transparent 90%,
		hotpink 0%,
		hotpink 100%
	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: left;
	transition: background-size 300ms;
	cursor: pointer;
}
.challange-1:hover {
	background-size: 100% 100%;
	/* 	background-position-x: left; */
}

.container {
	border: 3px solid black;
	text-align: center;
	padding: 2%;
	margin: 40px 20% ;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	border: 3px solid black;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px;
}
